<%= render 'header' %>

<% if flash[:notice] %>
  <p><%=flash[:notice] %> </p>
  <% flash[:notice] = nil %>
<% end %>
<% if not @current_user %>
 <%= link_to 'login', '/auth/josh_id' %>
<% else %>
  <h1 style="text-align:center" >Hello <%= "#{@current_user.first_name} #{@current_user.last_name}" %> !</h1>
  <br />
  <center>
    <%= link_to 'Send Email', writemail_path %>
    &nbsp; | &nbsp;
    <%= link_to 'Create Reminder', notifications_path %>
  </center>
<% end %>

<%=  render 'footer'%>