
<!doctype html>
<html lang="en">

  <style>
    body{padding-top: 60px;}
    .ui-helper-hidden-accessible{width: 40%;position: relative;display: inline-block;line-height: 14px;padding-left: 10px;}

  </style>

  <body class="wysihtml5-supported">
    <script>
      function getDestinatari()
      {
        var input = '';
        var destinatari = $("#destinatari").html();
        destinatari = destinatari.split('<li style="margin-bottom:5px"><span class="btn">');

        for(i=1;i<destinatari.length;i++)
        {
          var finaldestinatari = destinatari[i].split('<div style="margin-left:5px;color:red;display:inline-block;cursor:pointer;" onclick="removeMail(this)">x</div>');
          input = input + finaldestinatari[0] + ' ';
        }

        input = input.substr(0,input.length-1);

        if( $("#to").val() == '' )
          $("#to").val( input );
        else
          $("#to").val( $("#to").val() + " " + input );
      }
      function removeMail(id)
      {
        var span = id.parentNode;
        var li = span.parentNode;
        var ul = li.parentNode;
        ul.removeChild(li);
      }
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href= <%=  root_path %> >Comunicare</a>
          <div class="nav-collapse collapse nav-bar-inverse-collapse">
            <ul class="nav pull-right">
              <% if not session[:user_id] %>
                <li>
                  <%= to_root %>
                </li>
              <% else %>
                <li class="divider-vertical"></li>
                <li>
                  <%= link_to "#{session[:user_id]['extra']['first_name']} #{session[:user_id]['extra']['last_name']}" , '#'  %>
                </li>
                <li class="divider-vertical"></li>
                <li>
                  <%= link_to 'Logout' , '/logout' %>
                </li>
                <li class="divider-vertical"></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-narrow">
      <div class="row well">

        <%= form_tag(:controller => "mail", :action => "sendmail") do %>

          <%= label_tag("to:") %>
          <%= text_field(:mail,:to,:class =>"span5",:id =>"to") %>
          <div>
            <ul id="destinatari" style="list-style:none;">

            </ul>
          </div>
          <%= label_tag("subject:") %>
          <%= text_field(:mail,:subject,:class =>"span5") %>
          <%= label_tag("content:") %>
          <%= text_area(:mail,:content, :id=> "mytextarea", :style => "width:576px;height:200px", :placeholder => "Introduceti text ...") %>

          <script type="text/javascript">
            $('#mytextarea').wysihtml5();
          </script>

          <br/>
          <%= submit_tag("Send", :onclick => "getDestinatari()", :class => "btn pull-right btn-primary") %>

        <% end %>
      </div>
    </div>

    <div class="bottom-logo">
      <img src="../img/logo.png" width="150px" height="150px"/>
    </div>

    <script type="text/javascript">

      var availableTags;

      $(document).ready(function()
      {

        <%= getjson %>

        $.getJSON("http://localhost:3000/data.json")

        .done(function(data)
        {
          availableTags = data;

          $("#to").autocomplete(
          {

            source: function(request,response)
                    {
                      results = $.ui.autocomplete.filter(availableTags, request.term);
                      
                      response(results);
                      
                    }
          });

          $("#to").autocomplete( "option", "position", { my : "left top", at: "left bottom" } );
          $("#to").autocomplete(
          {
              open: function( event , ui )
              {

                $("#ui-id-1").css(
                {
                  "width":$("#to").width(),
                  "list-style":"none",
                  "background-color":"white",
                  "padding":"6px",
                  "border-radius":"5px"
                });

              },

              close: function( event , ui )
              {
                var dest = $("#to").val();

                $("#destinatari").css({"margin-left":"0px"});
                $("#destinatari").append('<li style="margin-bottom:5px"><span class="btn">' + dest + '<div style="margin-left:5px;color:red;display:inline-block;cursor:pointer;" onclick="removeMail(this)">x</div></span></li>');

                $("#to").val('');

              }
          });

        });

      });
      
    </script>

  </body>
</html>
